################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ScoutPHPDemo/v16
/.vs
/.vscode
